:root {
  --white: #fff;
  --white-comportable: #F5F5F5;
  --black: #333;
  --black-darken: #222;
  --black-darkest: #000;
  --red: #FF0000;
  --gray: #DEE2E6;
  --gray-lighten: #F8F9FA;
  
  --kakao: #F7E600;
  --naver: #06C755;

  --primary: #405059;
  --secondary: var(--fluorescent);
}
