@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@styles/reset.css");
@import url("@styles/colors.css");
@import url("@styles/fonts.css");

@layer utilities {
  .centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .horizontal {
    display: flex;
    align-items: center;
  }

  .horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}